<section class="jumbotron text-center">
  <div class="container">
    <h1>Hello, World!</h1>
    <p class="lead text-muted">I'm a full-stack web developer.</p>
  </div>
</section>

<section class="py-5 bg-secondary">
  <div class="container">
    <div id="code">
      <div id="console">
        &gt; Ala.location<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "Sacramento, CA"<br><br></span>
        &gt; Ala.education<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "University of California, San Diego"<br><br></span>
        &gt; Ala.major<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "Computer Science"<br><br></span>
        &gt; Ala.graduationDate<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "May 2011"<br><br></span>
        &gt; Ala.interests<br>
        <span class="answer">&nbsp;&nbsp;=&gt; ["code", "music", "fans", "coffee", "climbing", "traveling"]<br><br></span>
        &gt; Ala.workExperience.latest<br>
        <span class="answer">&nbsp;&nbsp;=&gt; Latest Work Experience<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; company: "ADM Associates, Inc."<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; role: "IT Engineer"<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; startDate: "March, 2012"<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; endDate: "Current, 2020"<br>
        <br></span>
        &gt; Ala.resume<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="alaarab.pdf">alaarab.pdf</a>"<br><br></span>
        &gt; Ala.email<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="mailto:alaarab@gmail.com">alaarab@gmail.com</a>"<br><br></span>
      </div>
    </div>
  </div>
</section>