<section class="jumbotron text-center">
  <div class="container">
    <h1>Hello, World!</h1>
    <p class="lead text-muted">I'm a full-stack web developer.</p>
  </div>
</section>

<section class="py-5 bg-secondary">
  <div class="container">
    <div id="code">
      <div id="console">
        &gt; Ala.location<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "Sacramento, CA"<br><br></span>
        &gt; Ala.education<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "University of California, San Diego"<br><br></span>
        &gt; Ala.major<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "Computer Science"<br><br></span>
        &gt; Ala.graduationDate<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "December 2011"<br><br></span>
        &gt; Ala.interests<br>
        <span class="answer">&nbsp;&nbsp;=&gt; ["code", "music", "synthesizers", "coffee", "climbing", "traveling", "fans"]<br><br></span>
        &gt; Ala.workExperience.latest<br>
        <span class="answer">&nbsp;&nbsp;=&gt; Latest Work Experience<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; company: "ADM Associates, Inc."<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; role: "IT Engineer"<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; startDate: "March, 2012"<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; endDate: "Current, 2020"<br>
        <br></span>
        &gt; Ala.resume<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="alaarab.pdf">alaarab.pdf</a>"<br><br></span>
        &gt; Ala.email<br>
        <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="mailto:alaarab@gmail.com">alaarab@gmail.com</a>"<br><br></span>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h4 class="text-center py-3">Résumé</h4>

    <h4>Education</h4>
    <hr>

    <div class="row pb-3">
      <div class="col-md-9">
        <b>University of California, San Diego</b><br/>
        Computer Science, B.S.
      </div>
      <div class="col-md-3">
        2008-2011<br/>
        San Diego, CA
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-md-9">
        <b>University of California, Santa Cruz</b><br/>
        Computer Science and Engineering
      </div>
      <div class="col-md-3">
        2006-2008<br/>
        Santa Cruz, CA
      </div>
    </div>

    <div>
      Relevant Coursework:

      <ul>
        <li>Object-Oriented Programming</li>
        <li>Data Structures and Object-Oriented Design</li>
        <li>Computer Systems and Assembly Language</li>
        <li>Algorithms and Abstract Data Types</li>
        <li>Discrete Mathematics</li>
        <li>Systems Programming</li>
        <li>Advanced Data Structures</li>
        <li>Design and Analysis of Algorithms</li>
        <li>Software Engineering</li>
        <li>Theory of Computability</li>
        <li>Programming Languages: Principles and Paradigms</li>
        <li>Database System Principles</li>
        <li>Online Database Analytics Applications</li>
        <li>Computer Architecture</li>
      </ul>
    </div>


  </div>
</section>